.stopwatch {
  --surface-bg: #415741;
  --on-surface: aliceblue;
  --button-bg: #2d6a2d;
  --button-bg-hover: #4a9e4a;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.5rem;

  background-color: var(--surface-bg);
  color: var(--on-surface);
}
