.headerSection {
  display: flex;
  gap: var(--space-9);
  justify-content: space-around;


  & h1 {
    margin: 0;

    font-size: 4.2rem;
    line-height: normal;
  }

  &.alt {
    gap: var(--space-10);
  }

  &.alt .intro {
    text-align: center;
  }

  &.alt .contactButton {
    align-self: center;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  text-align: left;
}

.verticalBorder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .imageArrow {
  }

  & .imageRect {
    width: 150px;
    height: auto;
  }
}

.introSubSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.caption {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
}

.description {
  font-size: 1rem;
  line-height: 1.7;
}

.contactButton {
  align-self: flex-start;

  box-sizing: border-box;
  padding: var(--space-5) var(--space-9);

  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
}

.profilePhoto {
  display: block;

  height: 360px;
  width: auto;
}
