.skillsSection {
  display: grid;
  gap: var(--space-5);

  width: 100%;
}

.skillCard {
  display: flex;
  gap: var(--space-7);

  padding: var(--space-9) var(--space-7);
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
}

.list {
  grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
}

.vertical {
  flex-direction: column;
  align-items: center;

  & .textContainer {
    text-align: center;
  }
}

.horizontal {
  flex-direction: row;
  align-items: flex-start;

  & .icon {
    width: 64px;
    height: 64px;
  }

  & .textContainer {
    text-align: left;
  }
}

.icon {
  flex-shrink: 0;
  width: 124px;
  height: 124px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-3);
}

.title {
  margin: 0;

  font-size: 1.7rem;
  line-height: 1.5;
}

.description {
  margin: 0;

  font-size: 1.05rem;
  line-height: 1.6;
}
