.securityCameraPageWrapper {
  display: flex;

  background-color: white;
  color: black;

  header {
    padding-top: var(--space-3);
  }

  footer {
    padding-bottom: var(--space-3);
  }
}

.sideBar {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  /* min-width: 0; */
}
